header{
    background-color: white;
    background-repeat: no-repeat;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    border-bottom-width: 1px;
    height: 70px;
    width:100%;
    left: 0;
    position:fixed;
    top: 0;
}
